*

!*/

!alacritty/alacritty.toml
!wezterm/*

!/nvim/init.lua
!/nvim/lua/
!/nvim/lua/plugins/*.lua
!/nvim/lua/plugins/lsp/
!/nvim/lua/plugins/lsp/*.lua
!/nvim/lua/config/
!/nvim/lua/config/*.lua

/tmux/plugins/
!/tmux/
!/tmux/tmux.conf
!/tmux/tmux.reset.conf

# Single files
!.zshrc
!.gitignore
!mac-dev-setup.sh
!README.md
